body{
background-color:#66b3ff;
}

h1 {
	color: white;
	font-size: 40px;
	text-decoration: underline;
}

h2{
color:white;
text-decoration:underline;
}

h3 {
	color:white;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

p {
font-family: Arial;
color: white;
font-size: 18px;
}

ul {
	color: white;
	font-size: 18px;
}

table{
	border-spacing: 0;
	margin-bottom:0.5em;
	color:#ffffff;
	text-decoration:underline;
	font-size:20px;
	
}
table th{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	
}
table tbody{
	color:white;
	text-decoration:none;
}

li{
		color:white;
		font-family:arial;
}

footer{
	font-size:16px;
	background-color: #b3b3b3;
}

footer p{
	font-size:16px;
}
	